.activity {
  &__link {
    text-decoration: none;
    flex-basis: 45%;
    @media screen and (min-width: 1200px) {
      flex-basis: 33.333%;
    }
  }

  &__bubble {
    width: 270px;
    height: 270px;
    border: 10px solid $color-primary;
    border-radius: 100%;
    margin: $spacer-double auto $spacer-double auto;
    padding: 2.5px;
    background-clip: content-box;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $color-primary;
      border: 2.5px dashed black;
    }

    @media screen and (min-width: 768px) {
      width: 300px;
      height: 300px;
      margin: $spacer-double auto $spacer-double auto;
    }

    @media screen and (min-width: 1200px) {
      width: 350px;
      height: 350px;
      margin: $spacer-double auto $spacer-double auto;
    }
  }

  &__heading {
    color: $color-font;
  }

  &__hourglass,
  &__map,
  &__aztec,
  &__arrow {
    width: 100px;
    height: 100px;
    margin: auto;

    @media screen and (min-width: 768px) {
      width: 150px;
      height: 150px;
    }

    @media screen and (min-width: 1200px) {
      width: 200px;
      height: 200px;
    }
  }

  &__hourglass {
    background: url('../../assets/hourglass.svg') no-repeat center
      center/contain;
  }

  &__map {
    background: url('../../assets/navigation-map.svg') no-repeat center
      center/contain;
  }

  &__aztec {
    background: url('../../assets/aztec-calendar.svg') no-repeat center
      center/contain;
  }

  &__arrow {
    background: url('../../assets/arrow.svg') no-repeat center center/contain;
  }
}
