.references {
  background-color: $color-primary;
  padding: $spacer;
  text-align: center;

  &__text {
    display: block;
    margin-bottom: $spacer;
  }

  &__link {
    color: $color-font;
  }
}
