.card {
  &__item {
    color: $color-primary;
    background-color: $color-font;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    border: 2px solid $color-primary;
    cursor: pointer;
  }

  &__item--wider {
    border: 4px solid $color-primary;
  }
}
