.modal {
  width: 80vw;
  min-height: 40px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: -10px;
  border-radius: 15px;
  border: 1px solid $color-font;
  padding: $spacer;
  display: flex;

  @media screen and (min-width: 768px) {
    width: 60vw;
  }

  @media screen and (min-width: 1200px) {
    width: 50vw;
  }

  &__right {
    background-color: $color-primary--lighter;
  }

  &__wrong {
    background-color: $color-secondary;
  }

  &__close {
    width: 2rem;
    height: 2rem;
    padding-right: $spacer;
    border: none;
    cursor: pointer;
    background: transparent url('../../assets/x-mark-thin.svg') no-repeat;
  }

  &__text {
    margin: 0 auto 0 auto;
  }
}
