.modal {
  width: 80vw;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 176px;
  border-radius: 15px;
  padding: $spacer;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    width: 60vw;
  }

  @media screen and (min-width: 1200px) {
    width: 50vw;
  }

  &__right {
    background-color: $color-primary--lighter;
  }

  &__wrong {
    background-color: $color-secondary;
  }

  &__close {
    width: 2rem;
    height: 2rem;
    border: none;
    cursor: pointer;
    background: transparent url('../../assets/x-mark-thin.svg') no-repeat;
  }

  &__text {
    font-size: 1.5rem;
    margin: 0 auto 0 auto;
    flex-basis: 100%;

    @media screen and (min-width: 768px) {
      font-size: 2rem;
    }
  }

  &__boat {
    height: 100px;
    width: 100px;
    margin: 0 auto 0 auto;
    flex-basis: 100%;

    &--right {
      background: url(../../assets/boat-right-answer.svg) no-repeat center
        center/contain;
    }

    &--wrong {
      background: url(../../assets/boat-wrong-answer.svg) no-repeat center
        center/contain;
    }

    @media screen and (min-width: 768px) {
      height: 150px;
      width: 150px;
    }
  }
}
