@import './variables';

html {
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  font-family: $font-main;
  color: $color-font;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: $font-header;
}

h1 {
  font-size: 3rem;

  @media screen and (min-width: 1200px) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2rem;
  @media screen and (min-width: 1200px) {
    font-size: 3rem;
  }
}

h3 {
  @media screen and (min-width: 1200px) {
    font-size: 1.5rem;
  }
}
