.storm {
  height: 600px;
  background: url('../../assets/boat.jpg') no-repeat center center/cover;
  position: relative;

  &__heading {
    font-size: 3rem;
    text-align: center;
    padding: $spacer;
  }

  &__boat {
    display: block;
    position: absolute;
    bottom: 0;
  }

  @media screen and (min-width: 768px) {
    height: 700px;

    &__heading {
      position: absolute;
      right: 50%;
      bottom: 60%;
    }
  }

  @media screen and (min-width: 1200px) {
    height: 1000px;

    &__heading {
      font-size: 4rem;
      right: 55%;
      bottom: 60%;
    }
  }
}
