.map {
  text-align: center;
  margin: 0 $spacer 0 $spacer;
  position: relative;

  &__instruction {
    margin: $spacer 0 $spacer 0;
    font-size: 1.5rem;
  }

  &__container {
    margin: 0 auto 0 auto;

    @media screen and (min-width: 768px) {
      max-width: 700px;
    }
  }

  &__cards {
    margin-top: $spacer;
    padding-bottom: 176px;

    @media screen and (min-width: 768px) {
      margin-top: 0;
    }
  }
}
