.map {
  text-align: center;
  margin: 0 $spacer 0 $spacer;

  &__instruction {
    margin: $spacer 0 $spacer-double 0;
    font-size: 1.5rem;
  }

  &__container {
    margin: 0 auto 0 auto;
  }

  @media screen and (min-width: 768px) {
    &__container {
      max-width: 700px;
    }
  }
}
