.shooting {
  text-align: center;
  margin: 0 $spacer 0 $spacer;

  &__introduction {
    width: 898px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
  }

  &__score {
    position: relative;
  }

  &__treasure {
    background: url(../../assets/treasure.svg) no-repeat center center/cover;
    width: 100px;
    height: 100px;
    margin-right: $spacer;
    margin-left: $spacer-double;
    position: relative;
  }

  &__coin {
    background: url(../../assets/coin.svg) no-repeat center center/cover;
    width: 20px;
    height: 20px;
    top: -20px;
    margin-left: 45px;
    position: absolute;
    z-index: 1;
    animation: fall 0.5s linear both;
  }

  @keyframes fall {
    0% {
      transform: translate(0px) scale(1);
    }
    70% {
      transform: translateY(50px) scale(1);
    }
    100% {
      transform: translateY(60px) scale(0);
    }
  }

  &__points {
    background-color: #ecc958;
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: 12px;
    left: 14px;
    transform: skew(12deg) rotate(10deg);
    border-radius: 5px;
  }

  &__instruction {
    font-size: 1.5rem;
    line-height: 0.5;
  }

  &__category {
    color: $color-primary;
    font-weight: bold;
  }

  &__play {
    color: $color-primary;
    background-color: $color-font;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    border: 2px solid $color-primary;
    cursor: pointer;
  }

  &__play--disabled {
    background-color: lightgrey;
    cursor: auto;
  }

  &__field {
    margin: $spacer auto 176px auto;
    padding: 5px 0 5px 0;
    border-radius: 15px;
    width: 898px;
    height: 400px;
    background: url(../../assets/ocean.jpg) no-repeat center center/cover;
    position: relative;
  }
}
