.shooting {
  text-align: center;
  margin: 0 $spacer 0 $spacer;

  &__instruction {
    font-size: 1.5rem;
    line-height: 0.5;
  }

  &__category {
    color: $color-primary;
    font-weight: bold;
  }

  &__play {
    color: $color-primary;
    background-color: $color-font;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    border: 2px solid $color-primary;
    cursor: pointer;
  }

  &__field {
    margin: $spacer auto 176px auto;
    padding: 5px 0 5px 0;
    border-radius: 15px;
    width: 898px;
    height: 400px;
    background: url(../../assets/ocean.jpg) no-repeat center center/cover;
  }

  &__target {
    text-align: left;
  }

  &__word {
    color: white;
    font-size: 20px;
    cursor: crosshair;
  }

  &__word::after {
    content: '';
    display: inline-block;
    background-color: white;
    height: 1px;
    width: 10px;
    margin-bottom: 0;
  }

  &__caravel {
    background: url(../../assets/caravel.svg) no-repeat center center/cover;
    height: 40px;
    width: 40px;
    display: inline-block;
    cursor: crosshair;
  }
}
