.menu {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  cursor: pointer;
  margin: 20px 0 20px 20px;
}

.menu--closed {
  background: transparent url('/src/assets/menu-thin.svg') no-repeat;
}

.menu--opened {
  background: transparent url('/src/assets/x-mark-thin.svg') no-repeat;
}

.navigation__list {
  display: none;
  margin: 0;
  padding: 0;
}

.navigation__list--opened {
  display: block;
}

.navigation__item {
  display: block;
  text-decoration: none;
  color: black;
  background-color: lightblue;
  text-align: center;
  padding: 10px;
  border: 1px solid white;
}

.navigation__item:hover {
  background-color: darkcyan;
}

.navigation__item--active {
  color: blue;
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }

  .navigation__list {
    display: flex;
    justify-content: flex-end;
  }

  .navigation__item {
    border: 0;
  }
}
