.menu {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  cursor: pointer;
  margin: 20px 0 20px 20px;
}
.menu--closed {
  background: transparent url("../../assets/menu-thin.svg") no-repeat;
}
.menu--opened {
  background: transparent url("../../assets/x-mark-thin.svg") no-repeat;
}
@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

.navigation__list {
  display: none;
  margin: 0;
  padding: 0;
}
.navigation__list--opened {
  display: block;
}
.navigation__item {
  display: block;
  text-decoration: none;
  color: #262c2c;
  text-align: center;
  padding: 20px;
  background-color: #68afad81;
  border: 1px solid white;
}
.navigation__item:hover {
  background-color: #68afad;
}
.navigation__item--active {
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    justify-content: flex-end;
  }
  .navigation__item {
    background-color: white;
    border: 0;
  }
}

.references {
  background-color: #68afad;
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.references__text {
  display: block;
  margin-bottom: 20px;
}
.references__link {
  color: #262c2c;
}

.activity__link {
  text-decoration: none;
}
.activity__bubble {
  width: 270px;
  height: 270px;
  border: 10px solid #68afad;
  border-radius: 100%;
  margin: 40px auto 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.activity__bubble:hover {
  background-color: #68afad;
}
.activity__heading {
  color: #262c2c;
}
.activity__hourglass {
  background: url("../../assets/hourglass.svg") no-repeat center center/contain;
  width: 100px;
  height: 100px;
  margin: 0 auto 10px auto;
}
.activity__map {
  background: url("../../assets/navigation-map.svg") no-repeat center center/contain;
  width: 100px;
  height: 100px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .activity__bubble {
    width: 300px;
    height: 300px;
    margin: 0;
  }
  .activity__hourglass {
    width: 150px;
    height: 150px;
  }
  .activity__map {
    width: 150px;
    height: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .activity__bubble {
    width: 350px;
    height: 350px;
  }
  .activity__hourglass {
    width: 200px;
    height: 200px;
  }
  .activity__map {
    width: 200px;
    height: 200px;
  }
}

.northAmerica:hover,
.southAmerica:hover,
.europe:hover,
.asia:hover,
.australia:hover,
.africa:hover {
  fill: #262c2c;
}

.wave {
  display: block;
  position: absolute;
  bottom: 0;
}

.card__item {
  color: #68afad;
  background-color: #262c2c;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  border: 2px solid #68afad;
}
.card__item--light {
  opacity: 0.5;
}

.assessment {
  position: relative;
  height: 600px;
  margin-bottom: 176px;
  background: url(../../assets/pirate.jpg) no-repeat 50% 50%/cover;
  text-align: center;
  color: white;
}
@media screen and (min-width: 768px) {
  .assessment {
    height: 700px;
  }
}
@media screen and (min-width: 1200px) {
  .assessment {
    height: 1000px;
    background: url(../../assets/pirate-bigger.jpg) no-repeat 50% 50%/cover;
  }
}
.assessment__text {
  font-size: 1.5rem;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 40px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .assessment__text {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .assessment__text {
    font-size: 3rem;
  }
}
.assessment__picture {
  background: url(../../assets/anchor.svg) no-repeat 50% 50%;
  min-height: 100px;
  margin-top: 40px;
}

.storm {
  height: 600px;
  background: url("../../assets/boat.jpg") no-repeat center center/cover;
  position: relative;
}
.storm__heading {
  text-align: center;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .storm {
    height: 700px;
  }
  .storm__heading {
    position: absolute;
    right: 50%;
    bottom: 60%;
  }
}
@media screen and (min-width: 1200px) {
  .storm {
    height: 1000px;
  }
  .storm__heading {
    right: 55%;
    bottom: 60%;
  }
}

.activities {
  text-align: center;
  margin-bottom: 192px;
}
.activities__heading {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .activities {
    margin-bottom: 212px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .activities__heading {
    flex-basis: 100%;
    margin-bottom: 60px;
  }
}

.map {
  text-align: center;
  margin: 0 20px 0 20px;
  position: relative;
}
.map__instruction {
  margin: 20px 0 40px 0;
  font-size: 1.5rem;
}
.map__container {
  margin: 0 auto 0 auto;
}
@media screen and (min-width: 768px) {
  .map__container {
    max-width: 700px;
  }
}
.map__cards {
  margin-top: 20px;
  padding-bottom: 176px;
}

.modal {
  width: 80vw;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 176px;
  background-color: #68afadf3;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 60vw;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 50vw;
  }
}
.modal__wrong {
  background-color: #eb5e55;
}
.modal__close {
  width: 2rem;
  height: 2rem;
  border: none;
  cursor: pointer;
  background: transparent url("../../assets/x-mark-thin.svg") no-repeat;
}
.modal__text {
  font-size: 1.5rem;
  margin: 0 auto 0 auto;
  flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .modal__text {
    font-size: 2rem;
  }
}
.modal__boat {
  height: 100px;
  width: 100px;
  margin: 0 auto 0 auto;
  flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .modal__boat {
    height: 150px;
    width: 150px;
  }
}
.modal__boat--right {
  background: url(../../assets/boat-right-answer.svg) no-repeat center center/contain;
}
.modal__boat--wrong {
  background: url(../../assets/boat-wrong-answer.svg) no-repeat center center/contain;
}

html {
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  font-family: "Grenze Gotisch", cursive;
  color: #262c2c;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Grenze Gotisch", cursive;
}

h1 {
  font-size: 3rem;
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2rem;
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  h3 {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=main.css.map */