.menu {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  cursor: pointer;
  margin: 20px 0 20px 20px;
}
.menu--closed {
  background: transparent url("../../assets/menu-thin.svg") no-repeat;
}
.menu--opened {
  background: transparent url("../../assets/x-mark-thin.svg") no-repeat;
}
@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

.navigation__list {
  display: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    justify-content: flex-end;
  }
}
.navigation__list--opened {
  display: block;
}
@media screen and (min-width: 768px) {
  .navigation__list--opened {
    display: flex;
    justify-content: flex-end;
  }
}
.navigation__item {
  display: block;
  text-decoration: none;
  color: #262c2c;
  text-align: center;
  padding: 20px;
  background-color: rgba(104, 175, 173, 0.5058823529);
  border: 1px solid white;
}
@media screen and (min-width: 768px) {
  .navigation__item {
    background-color: white;
    border: 0;
  }
}
.navigation__item:hover {
  background-color: #68afad;
}
.navigation__item--active {
  font-weight: bold;
}

.references {
  background-color: #68afad;
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.references__text {
  display: block;
  margin-bottom: 20px;
}
.references__link {
  color: #262c2c;
}

.activity__link {
  text-decoration: none;
}
.activity__bubble {
  width: 270px;
  height: 270px;
  border: 10px solid #68afad;
  border-radius: 100%;
  margin: 40px auto 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.activity__bubble:hover {
  background-color: #68afad;
}
@media screen and (min-width: 768px) {
  .activity__bubble {
    width: 300px;
    height: 300px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .activity__bubble {
    width: 350px;
    height: 350px;
  }
}
.activity__heading {
  color: #262c2c;
}
.activity__hourglass {
  background: url("../../assets/hourglass.svg") no-repeat center center/contain;
  width: 100px;
  height: 100px;
  margin: 0 auto 10px auto;
}
@media screen and (min-width: 768px) {
  .activity__hourglass {
    width: 150px;
    height: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .activity__hourglass {
    width: 200px;
    height: 200px;
  }
}
.activity__map {
  background: url("../../assets/navigation-map.svg") no-repeat center center/contain;
  width: 100px;
  height: 100px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .activity__map {
    width: 150px;
    height: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .activity__map {
    width: 200px;
    height: 200px;
  }
}

.northAmerica:hover,
.southAmerica:hover,
.europe:hover,
.asia:hover,
.australia:hover,
.africa:hover {
  fill: #262c2c;
}

.wave {
  display: block;
  position: absolute;
  bottom: 0;
}

.card__item {
  color: #68afad;
  background-color: #262c2c;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  border: 2px solid #68afad;
  cursor: pointer;
}
.card__item--wider {
  border: 4px solid #68afad;
}

.ordering__card {
  width: 300px;
  height: 38px;
  background-color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  border: 2px solid #68afad;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.ordering__card--right {
  background-color: #68afad;
}
.ordering__card--wrong {
  background-color: #eb5e55;
}
.ordering__year {
  font-weight: bold;
}

.assessment {
  position: relative;
  height: 600px;
  margin-bottom: 176px;
  background: url(../../assets/pirate.jpg) no-repeat 50% 50%/cover;
  text-align: center;
  color: white;
}
@media screen and (min-width: 768px) {
  .assessment {
    height: 700px;
  }
}
@media screen and (min-width: 1200px) {
  .assessment {
    height: 1000px;
    background: url(../../assets/pirate-bigger.jpg) no-repeat 50% 50%/cover;
  }
}
.assessment__text {
  font-size: 1.5rem;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 40px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .assessment__text {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .assessment__text {
    font-size: 3rem;
  }
}
.assessment__picture {
  background: url(../../assets/anchor.svg) no-repeat 50% 50%;
  min-height: 100px;
  margin-top: 40px;
}

.scoreboard {
  margin-bottom: 20px;
  font-size: 1.3rem;
}
.scoreboard__rightAnswerPoints {
  padding-right: 10px;
}

.modal {
  width: 80vw;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 176px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 60vw;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 50vw;
  }
}
.modal__right {
  background-color: rgba(104, 175, 173, 0.9529411765);
}
.modal__wrong {
  background-color: #eb5e55;
}
.modal__close {
  width: 2rem;
  height: 2rem;
  border: none;
  cursor: pointer;
  background: transparent url("../../assets/x-mark-thin.svg") no-repeat;
}
.modal__text {
  font-size: 1.5rem;
  margin: 0 auto 0 auto;
  flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .modal__text {
    font-size: 2rem;
  }
}
.modal__boat {
  height: 100px;
  width: 100px;
  margin: 0 auto 0 auto;
  flex-basis: 100%;
}
.modal__boat--right {
  background: url(../../assets/boat-right-answer.svg) no-repeat center center/contain;
}
.modal__boat--wrong {
  background: url(../../assets/boat-wrong-answer.svg) no-repeat center center/contain;
}
@media screen and (min-width: 768px) {
  .modal__boat {
    height: 150px;
    width: 150px;
  }
}

.grid__item {
  background-color: rgba(0, 0, 0, 0.358);
  color: white;
  border: 1px solid white;
  font-weight: bold;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.grid__item--true {
  background-color: rgba(104, 175, 173, 0.4588235294);
  color: white;
  border: 1px solid white;
  padding: 10px;
}
.grid__item--false {
  background-color: rgba(235, 95, 85, 0.6196078431);
  border: 1px solid white;
  color: white;
  padding: 10px;
}
.grid__item:first-child, .grid__item--true:first-child, .grid__item--false:first-child {
  border-radius: 15px 0 0 0;
}
.grid__item:nth-child(5), .grid__item--true:nth-child(5), .grid__item--false:nth-child(5) {
  border-radius: 0 15px 0 0;
}
.grid__item:nth-child(21), .grid__item--true:nth-child(21), .grid__item--false:nth-child(21) {
  border-radius: 0 0 0 15px;
}
.grid__item:last-child, .grid__item--true:last-child, .grid__item--false:last-child {
  border-radius: 0 0 15px 0;
}
.grid__item:hover .grid__options {
  display: flex;
  justify-content: space-evenly;
}
.grid__options {
  width: 100%;
  position: absolute;
  bottom: -15px;
  z-index: 1;
  display: none;
}
.grid__button {
  width: 45%;
  background-color: #68afad;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.grid__button:hover {
  background-color: #262c2c;
}

.storm {
  height: 600px;
  background: url("../../assets/boat.jpg") no-repeat center center/cover;
  position: relative;
}
@media screen and (min-width: 768px) {
  .storm {
    height: 700px;
  }
}
@media screen and (min-width: 1200px) {
  .storm {
    height: 1000px;
  }
}
.storm__heading {
  text-align: center;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .storm__heading {
    position: absolute;
    right: 50%;
    bottom: 60%;
  }
}
@media screen and (min-width: 1200px) {
  .storm__heading {
    right: 55%;
    bottom: 60%;
  }
}

.activities {
  text-align: center;
  margin-bottom: 192px;
}
@media screen and (min-width: 768px) {
  .activities {
    margin-bottom: 212px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.activities__heading {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .activities__heading {
    flex-basis: 100%;
    margin-bottom: 60px;
  }
}

.map {
  text-align: center;
  margin: 0 20px 0 20px;
  position: relative;
}
.map__instruction {
  margin: 20px 0 20px 0;
  font-size: 1.5rem;
}
.map__container {
  margin: 0 auto 0 auto;
}
@media screen and (min-width: 768px) {
  .map__container {
    max-width: 700px;
  }
}
.map__cards {
  margin-top: 20px;
  padding-bottom: 176px;
}
@media screen and (min-width: 768px) {
  .map__cards {
    margin-top: 0;
  }
}

.ordering {
  height: 1000px;
  background: url("../../assets/four-ships.jpg") no-repeat center bottom/cover;
  position: relative;
  margin-bottom: 176px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .ordering {
    background: url("../../assets/four-ships-bigger.jpg") no-repeat center bottom/cover;
  }
}
.ordering__heading, .ordering__instruction {
  color: white;
  padding: 20px 20px 0 20px;
}
.ordering__instruction {
  font-size: 1.5rem;
  margin: 0;
}
.ordering__scale {
  max-width: 310px;
  min-height: 250px;
  background-color: white;
  border-radius: 15px;
  border: 2px solid #68afad;
  margin: 20px auto 20px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.ordering__navigation {
  max-width: 310px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ordering__navigation--twoButtons {
  max-width: 310px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
}
.ordering__button {
  height: 38px;
  background-color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  border: 2px solid #68afad;
  font-weight: bold;
  font-family: "Grenze Gotisch", cursive;
  font-size: 1rem;
  flex-basis: 80%;
  cursor: pointer;
}
.ordering__button--smaller {
  width: 145px;
  height: 38px;
  background-color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  border: 2px solid #68afad;
  font-weight: bold;
  font-family: "Grenze Gotisch", cursive;
  font-size: 1rem;
  cursor: pointer;
}

.statement {
  text-align: center;
  margin: 0 20px 0 20px;
  overflow-x: scroll;
}
.statement__instruction, .statement__result {
  margin: 20px 0 20px 0;
  font-size: 1.5rem;
}
.statement__result {
  font-weight: bold;
}
.statement__map {
  margin: 0 auto 176px auto;
  border-radius: 15px;
  background: url(../../assets/map-compass.jpg) no-repeat center center/cover;
  width: 960px;
  height: 678px;
  position: relative;
}

.grid__container {
  width: 960px;
  height: 678px;
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.grid__item {
  border: 1px solid white;
  color: white;
  background-color: rgba(0, 0, 0, 0.358);
  font-weight: bold;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid__item:first-child {
  border-radius: 15px 0 0 0;
}
.grid__item:nth-child(5) {
  border-radius: 0 15px 0 0;
}
.grid__item:nth-child(21) {
  border-radius: 0 0 0 15px;
}
.grid__item:last-child {
  border-radius: 0 0 15px 0;
}

html {
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  font-family: "Grenze Gotisch", cursive;
  color: #262c2c;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Grenze Gotisch", cursive;
}

h1 {
  font-size: 3rem;
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2rem;
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  h3 {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=main.css.map */